.navbar-beige {
  background-color: #f5f0e6 ;
  color: #5c4a3d;
}

.hero {
  background-image: url('img/cotiza.jpg');
  background-repeat: no-repeat;
  background-size: contain; /* muestra la imagen completa sin recorte */
  background-position: center;
  height: 40vh;
  color: #5c4a3d;
  padding: 40px 20px;
}
.hero .container {
  animation: fadeIn 1.2s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}
.hero h1, .hero p {
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
.hero .btn {
  border: 2px solid #5c4a3d;
  color: #5c4a3d;
  background-color: transparent;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.hero .btn:hover {
  background-color: #5c4a3d; /* café al pasar el mouse */
  color: #fff; /* texto blanco encima */
}
.card-img-top {
  height: 200px;
  object-fit: cover;
}

.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.btn-whatsapp {
  border: 2px solid #5c4a3d;
  color: #5c4a3d;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.btn-whatsapp:hover {
  background-color: #5c4a3d; /* café al pasar el mouse */
  color: #fff; 
}
.footer-beige {
  background-color: #f5f0e6 ;
  color: #5c4a3d;
  padding: 20px 0;
}
