.navbar-beige {
  background-color: #f5f0e6;
  color: #5c4a3d;
}
.navbar-beige .navbar-brand,
.navbar-beige .nav-link {
  color: #5c4a3d !important; /* café */
  font-weight: 500;
}

.navbar-beige .nav-link.active,
.navbar-beige .nav-link:hover {
  color: #3b2e26 !important; /* café más oscuro al pasar */
}
/* Hero */
.hero {
  background-image: url('img/cotiza.jpg');
  background-repeat: no-repeat;
  background-size: contain;  /* no recorta la imagen */
  background-position: center;
  min-height: 40vh;
  color: #5c4a3d;
  padding: 40px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
  background-color: rgba(255,255,255,0.5);
  background-blend-mode: lighten;
}

.hero .container {
  animation: fadeIn 1.2s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

.hero h1, .hero p {
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.hero .btn {
  border: 2px solid #5c4a3d;
  color: #5c4a3d;
  background-color: transparent;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.hero .btn:hover {
  background-color: #5c4a3d;
  color: #fff;
}

/* Cards */
.card-img-top {
  height: 280px;       /* 🔹 todas las imágenes tendrán la misma altura */
  width: 100%;         /* que ocupen todo el ancho */
  object-fit: cover;   /* recorta la imagen sin deformarla */
  object-position: center; /* centra el recorte */
}

.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

/* Sobre Nosotros */
.sobre-texto {
  text-align: justify;
  font-size: 0.98rem;
  color: #4e3b2c;
  line-height: 1.8;
}

.sobre-nosotros {
  background-color: #f5f0e6;
  border-left: 4px solid #c4a484;
}

/* Footer */
.footer-beige {
  background-color: #f5f0e6;
  color: #5c4a3d;
  padding: 20px 0;
}

/* Sección Destacados */
.destacados-section {
  color: #9c8776;
  padding: 2rem 0;
}

.destacados-section h2 {
  color: #4e3b2c;
  font-weight: bold;
}

/* Botón Añadir al carrito */
.btn-add-carrito {
  background-color: #5c4a3d;
  color: #fff;
  border: none;
  padding: 8px 8px;
  border-radius: 4px;
  font-weight: 500;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-add-carrito:hover {
  background-color: #beb5af;
  transform: scale(1.03);
}
